{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Alexis Camboulives--Rosso</h1>

    Actuellement en formation Developpeur Web et Mobile à simplon.co.<br>
    Voici quelque projet que j'ai pu réaliser au cours de l'année.
    <ul>
        <li><code><a href="http://127.0.0.1:8000/projets">Les projets</a></code></li>
    </ul>
</div>
{% endblock %}
