{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h3>Ajouter un projet:</h3>
    <form name="form" action='' method='POST'>
    title:<br>
    <input type='text' name='title'><br>
    description:<br>
    <input type='text' name='description'><br>
    1er image:<br>
    <input type='text' name='imgUrl1'><br>
    2eme image:<br>
    <input type='text' name='imgUrl2'><br>
    lien repository:<br>
    <input type='text' name='lienRepo'><br>
    lien du site:<br>
    <input type='text' name='lienSite'><br>
    <input type='submit' value='Valider'>
    </form>
</div>
{% endblock %}
