{% extends 'base.html.twig' %}

{% block title %}Hello ProjetsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Les projets </h1>
    {% for projet in projets %}
    <h3>{{ projet.title }}</h3>
    <p>{{ projet.description }}</p>
    <img src="{{ projet.imgUrl1 }}" width="100%"><br>
    <p> {{ projet.lienRepo }}</p>
    <p> {{ projet.lienSite }}</p>
    <img src="{{ projet.imgUrl2 }}" width="100%"><br>
    {% endfor %}
    <a href="http://127.0.0.1:8000/index">Retour</a>
    
    
</div>
{% endblock %}
